server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_db
    username: devuser
    password: dev1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger

external:
  mockapi:
    base-url: https://6970115aa06046ce618877ce.mockapi.io
